:root {
	--amber: #FFB000;
	--green: #22BB00;
	--background: #282828;
	--portal: #67C8FF;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

* {
	font-family: 'Roboto Mono', monospace;
}

html {
	color: var(--amber);
}

.victory-background {
	background-color: #120A8F
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
	/* kind of a hack, I really just want padding but it messes with the sizing */
	box-sizing: border-box;
	border: 20px solid transparent; 
}

.hidden {
	display: none !important;
}

.content {
	height: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	/* height: 480px; */
}

.column {
	flex: 1;
	padding: 8px;
	overflow-y: auto;
	max-width: 480px;
	max-height: 640px;
	background-color: var(--background);
	box-sizing: border-box;
	border: 2px solid lightSlateGray;
}

.sending {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.receiving {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.chat {
	display: flex;
	gap: 12px;
	border-color: var(--amber);
}

.chat-name {
	border-width: 2px;
	border-style: solid;
	padding: 0 2px;
	display: flex;
	align-items: center;
}

.chat-message {
	flex: 1;
	display: flex;
	align-items: center;
}

.my-chat {
	color: var(--green);
}

.display {
	
}

#message {
	display: inline;
	white-space: pre-wrap;
	padding-right: 2px;
	border-right: 2px solid var(--amber);
}

#icon {
	padding: 8px;
	display: flex;
	justify-content: center;
	border: 2px solid var(--amber);
	margin-top: 12px;
}

.on {
	background-color: var(--amber);
	color: var(--background);
}

#symbols {
	height: 9px;
	padding: 0;
	margin-top: 9px;
	display: inline-flex;
	gap: 9px;
}

.invalid {
	background-color: red;
}

.status {
	flex: 1;
}

.prompt {
	display: flex;
}

.prompt > * {
	flex: 1;
}

#prompt-text-help, #prompt-text {
	text-transform: uppercase;
}

#prompt-text {
	font-size: 24px;
	margin-bottom: 8px;
}

#response-input {
	margin: 4px 0;
	text-transform: uppercase;
}

input {
	border: 2px solid lightSlateGray;
	padding: 2px;
	background-color: var(--background);
	color: var(--amber);
}

input:focus {
    outline: none;
	border-color: var(--amber);
}

.locks {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.lock-text {
	font-size: 18px;
	text-align: center;
}

#lock-container {
	display: inline-grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(10, 20px);
	gap: 4px;
	place-items: center;
}

#help {
	font-size: 14px;
}

#help-close {
	cursor: pointer;
}

#server-message {
	white-space: pre-wrap;
}

.chart-title {
	font-size: 24px;
	text-align: center;
	margin-bottom: 8px;
}

.morse {
	font-size: 18px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(13, 1fr);
}

.morse > div {
	display: flex;
	align-items: center;
	gap: 9px;
}

.morse > div > span:nth-child(2) {
	display: inline-flex;
	gap: 9px;
}

.codebook {
	font-size: 14px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(16, 1fr);
}

.codebook > div {
	padding: 0 4px;
	display: flex;
	gap: 14px;
}

.controls {
	font-size: 14px;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: repeat(4, 1fr);
	gap: 1px;
}

#disconnect {
	color: red;
}

.victory-border {
	padding: 8px;
	border: 8px solid var(--amber);
}

#victory a {
	color: var(--portal);
}

#dial-in {
	white-space: pre;
}

kbd {
    border: 1px outset lightSlateGray;
    border-radius: 3px;
	color: lightSlateGray;
    display: inline-block;
    font-size: .85em;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}
