* {
	font-family: monospace;
}

.display {
	height: 32px;
}

#message {
	display: inline;
	white-space: pre;
	padding-right: 2px;
	border-right: 2px solid gray;
}

#icon {
	padding: 8px;
	display: inline-block;
	border: 2px solid black;
	margin-bottom: 9px;
}

.on {
	background-color: lime;
}

#symbols {
	display: inline-flex;
	gap: 3px;
	padding: 3px;
}

.invalid {
	background-color: red;
}