* {
	font-family: monospace;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
}

.column {
	flex: 1;
	padding: 4px;
}

.sending {

}

.receiving {

}

.display {
	margin-bottom: 12px;
}

#message {
	display: inline;
	white-space: pre-wrap;
	padding-right: 2px;
	border-right: 2px solid gray;
}

#icon {
	padding: 8px;
	display: inline-block;
	border: 2px solid black;
	margin-bottom: 9px;
}

.on {
	background-color: lime;
}

#symbols {
	display: inline-flex;
	gap: 9px;
	padding: 3px;
}

.invalid {
	background-color: red;
}