* {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.columns {
	display: flex;
	gap: 36px;
}

table {
	flex: 1;
}

td {
	padding: 4px;
}

.letter {
	display: inline-flex;
	padding-right: 9px;
}

.symbols {
	display: inline-flex;
	gap: 9px;
	padding: 3px;
}
